__pycache__/
data/
.ruff_cache/
.coverage
htmlcov/
.pytest_cache/
terraform/.terraform/
terraform/gcp_key/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
description.md
